# Backtesting Engine

## Data Collection

In [62]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot

In [63]:
data = pd.read_csv('VOL.IDXUSD_Ticks_24.03.2025-24.03.2025.csv')

In [64]:
data.head(15)

                          Local time    Ask    Bid  AskVolume  BidVolume
0   24.03.2025 02:36:17.100 GMT-0400  18.93  18.72      0.006      0.006
1   24.03.2025 02:50:37.960 GMT-0400  18.87  18.68      0.006      0.006
2   24.03.2025 04:03:12.391 GMT-0400  18.83  18.62      0.006      0.006
3   24.03.2025 04:05:08.121 GMT-0400  18.78  18.57      0.006      0.006
4   24.03.2025 04:05:08.272 GMT-0400  18.82  18.63      0.006      0.006
5   24.03.2025 04:18:07.512 GMT-0400  18.88  18.67      0.006      0.006
6   24.03.2025 04:22:25.461 GMT-0400  18.83  18.62      0.006      0.006
7   24.03.2025 04:26:06.668 GMT-0400  18.88  18.67      0.006      0.006
8   24.03.2025 04:36:25.712 GMT-0400  18.83  18.62      0.006      0.006
9   24.03.2025 04:37:20.419 GMT-0400  18.87  18.68      0.006      0.006
10  24.03.2025 04:37:27.623 GMT-0400  18.88  18.62      0.006      0.006
11  24.03.2025 04:37:31.933 GMT-0400  18.87  18.68      0.006      0.006
12  24.03.2025 04:37:40.955 GMT-0400  18.82  18.63      0.006      0.006
13  24.03.2025 04:37:58.973 GMT-0400  18.88  18.67      0.006      0.006
14  24.03.2025 04:38:29.793 GMT-0400  18.88  18.62      0.006      0.006

In [65]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 298 entries, 0 to 297
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Local time  298 non-null    object
 1   Ask         298 non-null    float64
 2   Bid         298 non-null    float64
 3   AskVolume   298 non-null    float64
 4   BidVolume   298 non-null    float64
dtypes: float64(4), object(1)
memory usage: 11.8+ KB

### Cleaning

In [66]:
data = data.drop_duplicates()

data = data.dropna()

data["Local time"] = pd.to_datetime(data["Local time"]) #convert the local time to a proper timestamp format

data = data.dropna(subset=['Ask','Bid']) #drop rows with missing ask or bid

C:\Users\anura\AppData\Local\Temp\ipykernel_27056\2604741831.py:5: UserWarning: Parsing dates in %d.%m.%Y %H:%M:%S.%f GMT%z format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data["Local time"] = pd.to_datetime(data["Local time"]) #convert the local time to a proper timestamp format

### Storing cleaned data

In [67]:
data.to_parquet('cleaned_data.parquet')